$c-primary: #074c48;
$c-white: #fff;

$c-text-base: #444;

$size-xs: 4px;
$size-sm: 8px;
$size-md: 16px;
$size-lg: 24px;

$h-btn-lg: 40px;

$round-sm: $size-xs;
$round-base: $size-sm;

$transition: 0.3s;

$card-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

$text-4xl: 2.25rem;
$text-3xl: 1.5rem;
$text-xl: 1.125rem;
$text-lg: 1rem;
$text-base: 0.8rem;
