$c-primary: #074c48;
$c-white: #fff;
$c-grey: #d9d9d9;

$c-text-primary: #444;

$size-xs: 4px;
$size-sm: 8px;
$size-md: 16px;
$size-lg: 24px;

$height-lg: 40px;
$height-md: 32px;
$height-sm: 24px;

$round-base: 6px;

$transition-delay: 0.3s;

$card-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

$font-4xl: 2.25rem;
$font-3xl: 1.5rem;
$font-xl: 1.125rem;
$font-base: 1rem;
$font-sm: 0.8rem;
